### Decision Tree Classifier

#### Sajjad Ranjbar Yazdi
##### 9812223294

#### Call required libraries

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

#### Load the golf dataset

In [2]:
data = pd.read_csv('playgolf.csv')

In [3]:
data.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Rainy   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Sunny  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

#### Convert 'Outlook' column into one-hot encoded columns

In [4]:
outlook_onehot = pd.get_dummies(data['Outlook'], prefix='Outlook')
data = pd.concat([data, outlook_onehot], axis=1)

#### Convert 'Temperature', 'Humidity', and 'Wind' columns using Label Encoding

In [5]:
le = LabelEncoder()
data['Temp'] = le.fit_transform(data['Temp'])
data['Humidity'] = le.fit_transform(data['Humidity'])
data['Windy'] = le.fit_transform(data['Windy'])

#### Print the updated dataframe

In [6]:
data.head()

,Outlook,Temp,Humidity,Windy,Play Golf,Outlook_Overcast,Outlook_Rainy,Outlook_Sunny
0,Rainy,1,0,0,No,0,1,0
1,Rainy,1,0,1,No,0,1,0
2,Overcast,1,0,0,Yes,1,0,0
3,Sunny,2,0,0,Yes,0,0,1
4,Sunny,0,1,0,Yes,0,0,1

#### Separate features and target variable

In [7]:
X = data.drop(['Outlook', 'Play Golf'], axis=1)
y = data['Play Golf']

In [8]:
X.head()

   Temp  Humidity  Windy  Outlook_Overcast  Outlook_Rainy  Outlook_Sunny
0     1         0      0                 0              1              0
1     1         0      1                 0              1              0
2     1         0      0                 1              0              0
3     2         0      0                 0              0              1
4     0         1      0                 0              0              1

In [9]:
y.head()

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: Play Golf, dtype: object

#### Create a decision tree classifier object with max_depth=3

In [10]:
clf = DecisionTreeClassifier(max_depth=3)

#### Fit the classifier to the data

In [11]:
clf.fit(X, y)

DecisionTreeClassifier(max_depth=3)

#### Predict labels for training set

In [12]:
y_pred_train = clf.predict(X)

#### Calculate accuracy on training set

In [13]:
accuracy_train = accuracy_score(y, y_pred_train)

#### Print predicted labels for today and tomorrow

In [14]:
print("Predicted label for 'today':", clf.predict([[0,1,0,1,0,0]]))
print("Predicted label for 'tomorrow':", clf.predict([[1,0,1,0,0,0]]))

Predicted label for 'today': ['Yes']
Predicted label for 'tomorrow': ['No']

/home/sajjad/jupyter/environment/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
/home/sajjad/jupyter/environment/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

#### Print accuracy score on training set

In [15]:
print("Accuracy on training set: %", accuracy_train*100, sep="")

Accuracy on training set: %85.71428571428571

you can see this project on my github account
- https://github.com/Data-analysis-FUM/DecisionTreeClassifier